body{
    background-image: url(../img/conversation2.svg);
    background-repeat: no-repeat;
    background-size: 800px 800px;
    background-position-x: 580px;
    overflow: hidden;
}
header{
    width: 100%;
    padding: 30px 0;
}
header h1{
    font-size: 3em;
    line-height: 70px;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
main div{
    align-items: center;
    margin-bottom: 30px;
    width: 280px;
}
main a{
    color: var(--white-color);
    display: flex;
    align-items: center;
}
main i{
    font-size: 48px;
    cursor: pointer;
    padding-right: 15px;
    color:#AEA5D4
}
main div:last-child i{
    cursor: auto;
}