:root{
    --orange-color: #db900f;
    --purple-color: #281ec2;
    --white-color: #fff;
} 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

html, body, #root{
    height: 100%;
    background-color: #211358;
    color: var(--white-color);
    padding: 0 60px;
    
}
